#stats-bar
  transition: width 1s
  @apply flex flex-col bg-white
  &.show
    @apply w-full
  &.hide
    @apply w-0 overflow-hidden

@screen md
  #stats-bar
    transition: width 1s
    @apply z-10
    &.show
      width: 400px
    &.hide
      @apply w-0 overflow-hidden
