@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

html {
    * {
        font-family: 'Raleway', sans-serif;
    }
}
#side-bar {
    transition: width 1s;
}

.wide {
    @apply font-bold text-xl;
    @media screen and (min-width: 640px) {
        position: fixed;
        z-index: 40;
        width: 60vw;
        bottom: 10px;
        right: 10px;
    }
    
}